---
import Layout from "../layouts/default.astro";
import { sortPosts } from "./blog/index.astro";
import BlogCard from "./blog/blogCard.astro";
import ButtonVue from "../components/Button.vue";

const title = "Rijal bin husen website";
const description = "The landing page that you would land";
const permalink = Astro.site.host;
const allPosts = await sortPosts();
---

<Layout title={title} description={description} permalink={permalink}>
  <section
    class="flex flex-wrap gap-2 h-4/6 items-center flex-row justify-center md:px-9 mt-6 md:mt-28 body-section"
  >
    <div class="hero-image">
      <img src="/undraw_Designer_re_5v95.png" alt="ilustration" />
      <p class="caption">
        Image ilustration by <a href="https://undraw.co/">undraw.co</a>
      </p>
    </div>
    <div class="break-words max-w-full md:text-left text-center md:w-5/12">
      <h1 class="text-5xl mb-3">Hello there! Im</h1>
      <p class="font-bold mb-8 text-3xl">Rijal bin Husen</p>
      <p class="mb-3 text-xl">
        I love everything about innovation, <br />especially innovations that
        benefit a lot of people.
      </p>
      <p class="">
        That's why I love coding, because a combination of several codes can
        create awesome applications, and awesome applications can be benefit for
        many people.
      </p>
    </div>
  </section>

  <!-- recent pots -->
  <section class="body-section mt-10">
    <div class="flex font-semibold text-3xl justify-center md:mx-auto">
      <h1 class="heading">Recent posts</h1>
    </div>
    <div class="flex flex-wrap flex-row my-3 overflow-auto justify-center">
      {
        allPosts.slice(0, 2).map((post) => {
          // the url to the blog path
          // split by /
          const splitBySlashFilePath = post.file.split("/");
          // pick the last string from the splitter
          const pickTheLastFilePath = splitBySlashFilePath.pop();
          // split by .
          const splitTheLastFilePathByDot = pickTheLastFilePath.split(".");
          // pick the first one
          const href = splitTheLastFilePathByDot.shift();
          return (
            <BlogCard
              href={href}
              image={post.frontmatter.img}
              title={post.frontmatter.title}
              description={post.frontmatter.description}
            />
          );
        })
      }
    </div>
    <div class="flex font-semibold text-3xl justify-center md:mx-auto">
      <ButtonVue text="More posts" href="/blog" />
    </div>
  </section>
</Layout>

<style>
  .hero-image img {
    max-width: 350px;
    border-radius: 50%;
  }

  .hero-image p {
    position: relative;
    font-weight: 400;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    .hero-image {
      margin-bottom: 3rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>
